## Deliverable 3. Create a Travel Itinerary Map.

In [16]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [17]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Latitude,Longitude,Hotel Name
0,0,Port Alfred,ZA,61.00,few clouds,-33.5906,26.8910,The Halyards Hotel
1,3,Georgetown,MY,79.00,few clouds,5.4112,100.3354,Cititel Penang
2,4,Fare,PF,81.28,light rain,-16.7000,-151.0167,Maitai Lapita Village Huahine
3,6,Bajil,YE,71.19,clear sky,15.0584,43.2851,شبكة ماكس نت MAX WIFI
4,7,Riyadh,SA,62.60,clear sky,24.6877,46.7219,InterContinental Riyadh

In [18]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Latitude", "Longitude"]]

In [19]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content = hotel_info)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [25]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df['City'] == 'Kiama']
vacation_end = vacation_df.loc[vacation_df['City'] == 'Kiama']
vacation_stop1 = vacation_df.loc[vacation_df['City'] == 'Byron Bay']
vacation_stop2 = vacation_df.loc[vacation_df['City'] == 'Dubbo'] 
vacation_stop3 = vacation_df.loc[vacation_df['City'] == 'Batemans Bay'] 
vacation_start

,City_ID,City,Country,Max Temp,Current Description,Latitude,Longitude,Hotel Name
95,206,Kiama,AU,73.0,overcast clouds,-34.6833,150.8667,The Sebel Kiama Harbourside

In [21]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start["Latitude"].to_numpy()[0], vacation_start["Longitude"].to_numpy()[0]
end = vacation_end["Latitude"].to_numpy()[0], vacation_end["Longitude"].to_numpy()[0]
stop1 = vacation_stop1["Latitude"].to_numpy()[0], vacation_stop1["Longitude"].to_numpy()[0]
stop2 = vacation_stop2["Latitude"].to_numpy()[0], vacation_stop2["Longitude"].to_numpy()[0]
stop3 = vacation_stop3["Latitude"].to_numpy()[0], vacation_stop3["Longitude"].to_numpy()[0]

In [22]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
city_itinerary = gmaps.directions_layer(
        start, end, waypoints=[stop1, stop2, stop3],
        travel_mode='DRIVING')

fig.add_layer(city_itinerary)
fig

Figure(layout=FigureLayout(height='420px'))

In [23]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1,vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Latitude,Longitude,Hotel Name
0,206,Kiama,AU,73.0,overcast clouds,-34.6833,150.8667,The Sebel Kiama Harbourside
1,639,Byron Bay,AU,80.6,scattered clouds,-28.6500,153.6167,Backpackers Inn on the Beach
2,620,Dubbo,AU,82.4,broken clouds,-32.2500,148.6167,Comfort Inn Blue Lagoon
3,615,Batemans Bay,AU,64.0,overcast clouds,-35.7167,150.1833,Batemans Bay Marina Resort

In [26]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info2 = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations2 = itinerary_df[["Latitude", "Longitude"]]

In [27]:
# 11a. Add a marker layer for each city to the map.
fig1 = gmaps.figure()

marker_layer = gmaps.marker_layer(locations2, info_box_content = hotel_info2)
fig1.add_layer(marker_layer)
# 11b. Display the figure
fig1

Figure(layout=FigureLayout(height='420px'))